<!DOCTYPE html>
<html>
<head>
  <title>Xcom</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="/">inventory</a> | <a href="/admin">admin</a> | <a href="/housekeeping/export">export</a>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
